#msg-box {
  width: fit-content;
  border-radius: 20px;
  font-weight: bolder;
  max-width: min(500px, 70%);
  background-color: #47494e;
  color: white;
  cursor: default;

  &.from_other_color {
    background-color: #0779e4;
  }
}
